.header {
  background: orange;
  height: 60px;
}
.header__list-item a {
  color: #000;
}

.first__img {
  width: 250px;
  height: 250px;
}

.second__quote-wrap {
  background: pink;
}

.footer {
  background: purple;
  color: #fff;
  height: 300px
}

.footer__list-item a {
  color: #fff;
}
